# DATA FRAME TOP SCORER UEFA CHAMPIONS LEAGUE

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re

In [2]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
df_top_scorer = pd.read_html('https://en.wikipedia.org/wiki/List_of_UEFA_Champions_League_top_scorers')[0]

In [4]:
df_top_scorer.head()

,Rank,Player,Goals,Apps,Ratio,Years,Club(s) (Goals)
0,1,Cristiano Ronaldo,136[a],178,0.76,2003–,Manchester United (17)Real Madrid (105)Juventu...
1,2,Lionel Messi,121,151,0.80,2005–,Barcelona (120)Paris Saint-Germain (1)
2,3,Robert Lewandowski,77,98,0.79,2011–,Borussia Dortmund (17)Bayern Munich (60)
3,4,Karim Benzema,72,132,0.55,2005–,Lyon (12)Real Madrid (60)
4,5,Raúl González,71,142,0.50,1995–2011,Real Madrid (66)Schalke 04 (5)

In [5]:
top_4_scorer = df_top_scorer.drop(columns=['Years', 'Club(s) (Goals)']).head(4)

In [6]:
top_4_scorer = top_4_scorer.rename(columns = {'Apps':'Matches', 'Ratio':'Goal per Match'})

In [7]:
top_4_scorer['Tournament Award'] = [5, 4, 1, 4]

In [8]:
top_4_scorer['Top Scorer Award'] = [7, 6, 1, 0]

In [9]:
top_4_scorer['Seasons Played'] = [19, 18, 11, 18]

In [10]:
top_4_scorer['Age'] = [36, 34, 33, 33]

* All time TOP SCORERS

In [11]:
top_4_scorer

,Rank,Player,Goals,Matches,Goal per Match,Tournament Award,Top Scorer Award,Seasons Played,Age
0,1,Cristiano Ronaldo,136[a],178,0.76,5,7,19,36
1,2,Lionel Messi,121,151,0.80,4,6,18,34
2,3,Robert Lewandowski,77,98,0.79,1,1,11,33
3,4,Karim Benzema,72,132,0.55,4,0,18,33

In [12]:
top_4_scorer['Goals'] = top_4_scorer['Goals'].apply(lambda x: str(x).replace(']', '').replace('a','').replace('[', ''))

In [13]:
top_4_scorer

,Rank,Player,Goals,Matches,Goal per Match,Tournament Award,Top Scorer Award,Seasons Played,Age
0,1,Cristiano Ronaldo,136,178,0.76,5,7,19,36
1,2,Lionel Messi,121,151,0.80,4,6,18,34
2,3,Robert Lewandowski,77,98,0.79,1,1,11,33
3,4,Karim Benzema,72,132,0.55,4,0,18,33

In [15]:
top_4_scorer.to_excel('top_4_scorer.xlsx')